<div align="center">
  <table width="800" cellpadding="0" cellspacing="0" border="0">
    <tr>
      <td width="100%" valign="top">
        <table border="0" width="100%" cellpadding="0" cellspacing="0">
          <tr>
            <td align="center"><a href=".."><img src="images/title.jpg" border="0"></a></td>
          </tr>
          <td align="center" class="font">
            <span class="link">
              <a href="/">Home</a>&nbsp;|&nbsp;
              <a href="/raids">Raids</a>&nbsp;|&nbsp;
              <a href="/itemsLooted">Recently Looted</a>&nbsp;|&nbsp;              
              <a href="/members">Member List</a>
            </span>
            <br><br>
          </td>
    </tr>
    </table>